In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [7]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [21]:
num_fuel_types = df["fuel_type"].value_counts()
print(num_fuel_types)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [23]:
missing_values = df.isnull().sum()
print(missing_values)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [24]:
asia_max_fuel_efficiency = df.loc[df["origin"]=="Asia", "fuel_efficiency_mpg"].max()
print(asia_max_fuel_efficiency)

23.759122836520497

In [31]:
#Q6 Median value of horsepower
median_horsepower = df["horsepower"].median()
print(median_horsepower)

#Most frequent value of horsepower column
mode_horsepower = df["horsepower"].mode()[0]
print(mode_horsepower)

149.0
152.0

In [33]:
#Imputing missing values
df["horsepower"] = df["horsepower"].fillna(mode_horsepower)

#New median horsepower
new_median = df["horsepower"].median()
print(new_median)

152.0

In [37]:
import numpy as np

In [38]:
#Q7 Sum of weightsa

#Selecting all cars from asia
asian_cars = df[df["origin"]=="Asia"]

#Selecting only vehicle_weight and model_year columns
selection = asian_cars[["vehicle_weight", "model_year"]]

#Selecting first 7 values
first_7 = selection.head(7)

#Getting array
X = first_7.to_numpy()

#Matrix-matrix multiplication
XTX = np.dot(X.T, X)

#Inverting XTX
XTX_inv = np.linalg.inv(XTX)

#Creating array, y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

#Multiplying XTX_inv by the transpose of X
multiply_transpose = np.dot(XTX_inv, X.T)

#Multiplying result by y
w = np.dot(multiply_transpose, y)

#Sum of elements
w_sum = w.sum()
print(w_sum)

0.5187709081074008